*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'B612', sans-serif;
    line-height: 1.5;
    /* overflow-x: hidden; */
}
h1{
    text-align: center;
    margin-top: 60px;
}
body{
    background: #fff1f1;
}
.poem-container{
    display: flex;
    padding:20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.card{
    min-width:250px;
    height:150px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin:25px;
}
.title, .read-poem{
    display: flex;
    padding:10px;
    text-align: center;
    padding-left: 20px;
}
.title{
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    color: #d9dad7;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 30px;
}
.read-poem button{
    background: #5acc7c;
    border:none;
    padding: 10px;
    cursor: pointer;
    margin:10px;
}
.read-poem button:hover{
    background: #3dad5d;
}
button:active{
    outline: none;
}
.poem-window{
    z-index: 2;
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    right:0;
    top:0;
    padding:30px;
    transform:translateX(100vw);
    transition: all 1s;
    overflow: auto;
    padding-top: 45px;
    opacity: 0;
}
.poem-window h2{
    padding: 30px;
}
.poem-window p {
    background:#eee;
    padding: 30px;
    border-radius: 15px;
}
.poem-window img{
    position: absolute;
    right:0;
    margin: 20px;
    cursor: pointer;
}
